body {
  background-color:#ffb6b9;
}
h3,h1{
  color: #70416d;
}
hr{
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:4px;
  width:10%;
}
img{
  height:200px;
  border-radius:100%;
}
img:hover {
  border-radius:none;
}
div {
border: 0.5rem outset pink;
outline: 0.5rem solid khaki;
box-shadow: 0 0 0 2rem skyblue;
border-radius: 12px;
font: bold 1rem sans-serif;
margin: 2rem;
padding: 2rem;
outline-offset: 0.5rem;
}
